<div class="container-fluid mt-5 mb-5">

  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="card border mt-5 shadow" *ngIf="!submitted">
        <div class="card-header">Formulaire d'ajout d'une course</div>
        <div class="card-body">
            <div class="mb-3">
              <label for="nom" class="form-label">Nom</label>
              <input type="text" [(ngModel)]="course.nom" class="form-control" id="nom" name="nom" placeholder="nom...">
            </div>
            <div class="mb-3">
              <label for="comment" class="form-label">Comment</label>

              <textarea class="form-control" [(ngModel)]="course.comment" id="comment" name="comment" rows="3"></textarea>
            </div>
            <button type="submit" (click) ="addCourses()" class="btn btn-block btn-success">Submit</button>
        </div>
      </div>
      <div *ngIf="submitted">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4>La course a ete ajouter avec succes!</h4>
        </div>
        <button class="btn btn-success" (click)="newCourse()">Ajouter une course</button>
      </div>
    </div>
  </div>
</div>
<script>
  $(".alert").alert();
</script>
