<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">COURSES</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse float-left" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" routerLink="/home" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/users">Liste des Utilisateur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/add">Ajouter un Utilisateur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/comments">Liste des Commentaires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/comment/add">Ajouter un Commentaires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="posts">Liste des Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="post/add">Ajouter un Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isAuth" routerLink="/auth/signup">Créer un compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  *ngIf="!isAuth" routerLink="/auth/signin">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onSignOut()"
             style="cursor:pointer"
             *ngIf="isAuth">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
